<footer class="container py-6 md:py-10 md:px-8 mt-auto md:h-12 mx-auto flex flex-col items-center justify-center gap-4">
    <div>
        <p class="text-center text-sm leading-loose text-primary dark:text-foreground/50">
            Designed and developed by
            <a target="_blank" rel="noreferrer" class="font-medium dark:text-foreground/90 tracking-[1px] underline underline-offset-4"
                href="https://github.com/sristi002/">Sristi Agarwal</a>
            in
            <!-- <a target="_blank" rel="noreferrer" class="font-medium dark:text-foreground/90 tracking-[1px] underline underline-offset-4"
                href="https://figma.com">Figma</a> -->
             <span class="font-medium dark:text-foreground/90 tracking-[1px]">VS Code </span>. Crafted with
            <a target="_blank" rel="noreferrer" class="font-medium dark:text-foreground/90 tracking-[1px] underline underline-offset-4"
                href="https://angular.io/">Angular 16
            </a>
            and
            <a target="_blank" rel="noreferrer" class="font-medium dark:text-foreground/90 tracking-[1px] underline underline-offset-4"
                href="https://tailwindcss.com/">Tailwind CSS </a>, deployed with
            <a target="_blank" rel="noreferrer" class="font-medium dark:text-foreground/90 tracking-[1px] underline underline-offset-4"
                href="https://vercel.com/">Vercel
            </a>
            and
            <a target="_blank" rel="noreferrer" class="font-medium dark:text-foreground/90 tracking-[1px] underline underline-offset-4"
                href="https://github.com/sristi002/">GitHub</a>.
        </p>
    </div>
</footer>
