@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');


* {
    font-family: 'Inter', sans-serif;
}

@layer base {
    input::placeholder {
        content: "Explore GitHub Users and Repositories!";
    }

    /* Media query for small screens */
    @media screen and (max-width: 767px) {
        input::placeholder {
            content: "Explore GitHub Users...";
        }
    }

    @keyframes pulse {
        50% {
            opacity: .5;
        }
    }

    .animate-pulse {
        animation: pulse 0.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
}


.ngx-pagination {
    padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
    background: #9333ea !important;
    border: transparent !important;
    border-radius: 8px !important;
}

.ngx-pagination .current:hover {
    background: hsl(271, 81%, 45%) !important;
    border-radius: 8px !important;
    border: transparent !important;
    color: #fff !important;
}

.ngx-pagination a,
.ngx-pagination button {
    color: #565656 !important;
    display: block !important;
    padding: 0.5rem 1rem !important;
    border-radius: 30px !important;
    background: transparent;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
    background: transparent !important;
    color: #535353 !important;
    font-weight: 700 !important;
}

.ngx-pagination a:disabled,
.ngx-pagination button:disabled {
    background: #9333ea !important;
    color: #454545 !important;
}

.small-screen{
    color: rgb(115, 114, 114) !important;
}